.normal-pokemon-type,
.normal-type:hover {
    background-color: var(--normal-color-type);
}

.fighting-pokemon-type,
.fighting-type:hover {
    background-color: var(--fighting-color-type);
}

.flying-pokemon-type,
.flying-type:hover {
    background-color: var(--flying-color-type);
}

.poison-pokemon-type,
.poison-type:hover {
    background-color: var(--poison-color-type);
}

.ground-pokemon-type,
.ground-type:hover {
    background-color: var(--ground-color-type);
}

.rock-pokemon-type,
.rock-type:hover {
    background-color: var(--rock-color-type);
}

.bug-pokemon-type,
.bug-type:hover {
    background-color: var(--bug-color-type);
}

.ghost-pokemon-type,
.ghost-type:hover {
    background-color: var(--ghost-color-type);
}

.steel-pokemon-type,
.steel-type:hover {
    background-color: var(--steel-color-type);
}

.fire-pokemon-type,
.fire-type:hover {
    background-color: var(--fire-color-type);
}

.water-pokemon-type,
.water-type:hover {
    background-color: var(--water-color-type);
}

.grass-pokemon-type,
.grass-type:hover {
    background-color: var(--grass-color-type);
}

.electric-pokemon-type,
.electric-type:hover {
    background-color: var(--electric-color-type);
}

.psychic-pokemon-type,
.psychic-type:hover {
    background-color: var(--psychic-color-type);
}

.ice-pokemon-type,
.ice-type:hover {
    background-color: var(--ice-color-type);
}

.dragon-pokemon-type,
.dragon-type:hover {
    background-color: var(--dragon-color-type);
}

.dark-pokemon-type,
.dark-type:hover {
    background-color: var(--dark-color-type);
}

.fairy-pokemon-type,
.fairy-type:hover {
    background-color: var(--fairy-color-type);
}

.unknown-pokemon-type,
.unknown-type:hover {
    background-color: var(--unknown-color-type);
}

.shadow-pokemon-type,
.shadow-type:hover {
    background-color: var(--shadow-color-type);
}