.evolution-chain {
    width: 50%;
    height: 10%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

.evolution:active,
.active-evolution:active {
    box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.4);
}

.evolution,
.active-evolution,
.evolution:active,
.active-evolution:active,
.evolution:link,
.active-evolution:link,
.evolution:visited,
.active-evolution:visited,
.evolution:focus,
.active-evolution:focus,
.evolution:hover,
.active-evolution:hover {
    color: black;
    text-decoration: none;
    width: 30%;
    outline: black solid 1px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.4);
    border-radius: 64px;
    text-align: center;
    text-transform: capitalize;
}

.evolution,
.evolution:active,
.evolution:link,
.evolution:visited,
.evolution:focus,
.evolution:hover {
    background-color: var(--background-color-secondary);
}