#shape {
    margin-top: -13%;
}

.wave-img {
    width: 100%;
}

.pokemon-info-type .wave-img:nth-child(4) {
    opacity: 0.4;
    margin-top: -15%;
    animation: move-1 5s infinite;
}

@keyframes move-1 {
    50% {
        transform: translateY(15px);
    }

}

.pokemon-info-type .wave-img:nth-child(5) {
    opacity: 0.3;
    margin-top: -12%;
    animation: move-2 4s infinite;
}


@keyframes move-2 {
    50% {
        transform: translateY(35px);
    }

}

.pokemon-info-type .wave-img:nth-child(6) {
    opacity: 0.2;
    margin-top: -12%;
    animation: move-3 3.5s infinite;
}

@keyframes move-3 {
    50% {
        transform: translateY(25px);
    }

}

.pokemon-info-type .wave-img:nth-child(7) {
    opacity: 0.3;
    margin-top: -12%;
    animation: move-4 3s infinite;
}

@keyframes move-4 {
    50% {
        transform: translateY(20px);
    }

}

@media (min-width: 992px) and (max-width: 1440px) {
    .pokemon-info-type .wave-img:nth-child(4) {
        margin-top: -17%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #shape {
        margin-top: -14%;
    }

    .pokemon-info-type .wave-img:nth-child(4) {
        margin-top: -18%;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    #shape {
        margin-top: -15%;
    }

    .pokemon-info-type .wave-img:nth-child(4) {
        margin-top: -20%;
    }
}

@media (max-width: 576px) {
    .pokemon-info-type .wave-img:nth-child(4) {
        margin-top: -25%;
    }
}