@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --normal-color-type: #A8A090;
  --fighting-color-type: #A05038;
  --flying-color-type: #98A8F0;
  --poison-color-type: #B058A0;
  --ground-color-type: #E9D6A4;
  --rock-color-type: #B8A058;
  --bug-color-type: #A8B820;
  --ghost-color-type: #6060B0;
  --steel-color-type: #A8A8C0;
  --fire-color-type: #F05030;
  --water-color-type: #3899F8;
  --grass-color-type: #78C850;
  --electric-color-type: #F8D030;
  --psychic-color-type: #F870A0;
  --ice-color-type: #58C8E0;
  --dragon-color-type: #7860E0;
  --dark-color-type: #7A5848;
  --fairy-color-type: #E79FE7;
  --unknown-color-type: #D2C21A;
  --shadow-color-type: #5F5F5F;
  --background-color-main: #FF0000;
  --background-color-secondary: #FFFFFF;
  --font-color-main: #FFFFFF;
  --to-width: 0%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Montserrat;
  background-color: var(--background-color-main);
  width: 100vw;
  height: 11.11vh;
}

a {
  display: block;
  width: 26.04%;
  max-height: 100%;
  align-items: center;
  margin-right: 8px;
}

#logo {
  max-width: 100%;
  max-height: 100%;
}

.filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: var(--font-color-main);
  width: 7;
  height: 66.6%;
  max-height: 100%;
}
.filter-text {
  font-size: 100%;
  max-width: 100%;
  max-height: 100%;
}
.filter-icon {
  width: 100%;
  max-width: 100%;
}
.toogle-bar {
  display: flex;
  align-items: center;
  background-color: var(--background-color-secondary);
  border-radius: 24px;
  outline: 0.1vw black solid;
  width: 45.41vw;
  height: 5vh;
  max-height: 100%;
  margin: 40px 0px;
}

#lupe-icon {
  max-width: 100%;
  width: 2rem;
  opacity: 0.5;
  padding: 8px 4px 8px 16px;
}

.search-input,
.search-input:focus,
.search-input:active {
  background-color: var(--background-color-2);
  width: 60%;
  max-width: 100%;
  max-height: 100%;
  font-family: Montserrat;
  font-size: 100%;
  color: rgba(0, 0, 0, 0.3);
  outline: none;
  border: none;
}

.search-input:focus {
  color: black;
}

body {
  display: flex;
  background-image: url(background-image.png);
  background-size: 240px 240px;
}

main {
  display: flex;
  width: 100vw;
  height: 88.89vh;
}

.row {
  display: inline-flex;
  padding: 80px 280px 40px 240px;
  align-items: flex-start;
  gap: 40px;
}