@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Montserrat;
  background-color: red;
  width: 100vw;
  height: 11.11vh;
}

a {
  display: block;
  width: 26.04%;
  max-height: 100%;
  align-items: center;
}

#logo {
  max-width: 100%;
  max-height: 100%;
}

.filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: white;
  width: 7;
  height: 66.6%;
  max-height: 100%;
}
.filter-text {
  font-size: 100%;
  max-width: 100%;
  max-height: 100%;
}
.filter-icon {
  width: 100%;
  max-width: 100%;
}
.toogle-bar {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 24px;
  outline: 0.1vw black solid;
  width: 45.41vw;
  height: 5vh;
  max-height: 100%;
  margin: 40px 0px;
}

#lupe-icon {
  max-width: 100%;
  width: 2rem;
  opacity: 0.5;
  padding: 8px 4px 8px 16px;
}

.search-input,
.search-input:focus,
.search-input:active {
  background-color: white;
  width: 60%;
  max-width: 100%;
  max-height: 100%;
  font-family: Montserrat;
  font-size: 100%;
  color: rgba(0, 0, 0, 0.3);
  outline: none;
  border: none;
}
.search-input:focus {
  color: black;
}

body {
  display: flex;
  background-image: url(background-image.png);
  background-size: 240px 240px;
}

.pokemon {
  display: flex;
  width: 16.66vw;
  height: 33.33vh;
  background-color: white;
  border-radius: 64px;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 88.89vh;

}

.row {
  display: inline-flex;
  padding: 80px 280px 40px 240px;
  align-items: flex-start;
  gap: 40px;
}