.pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pokemon {
    width: 320px;
    height: 360px;
    display: flex;
    background-color: var(--background-color-secondary);
    border-radius: 64px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

@media (max-width: 360px) {
    .pokemon {
        width: 80%;
        height: 60%;
    }
}

.pokemon-img {
    width: 70%;
    height: 60%;
}

.pokemon-name{
    text-transform: capitalize;
    font-size: 1.5rem;
    font-family: Montserrat;
    margin: 8px;
}

.pokemon-types {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-transform: capitalize;
    font-family: Montserrat;
    gap: 8px;    
}
.pokemon-type{   
    border-radius: 64px;
    outline: auto;
    outline-color: black;
    padding: 4px;
    color: var(--font-color-main);
}
.pokemon:hover {
    color: var(--font-color-main)
}

.pokemon-info-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    overflow: hidden;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.pokemon-info-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    height: 40vh;
    border-top-right-radius: 64px;
    border-top-left-radius: 64px;
}
.pokemon-img-info {
    height: 90%;
    margin-top: 10%;
    z-index: 1;
}
.pokemon-text-info {
    z-index: 1;
    font-family: Montserrat;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 400;
}

#shape {
    position: absolute;
    width: 60vw;
    top: 40%;
}
.wave-img:not(#shape) {
    width: 60vw;
    position: absolute;
    top: 40%;
}

.pokemon-info .wave-img:nth-child(1) {
    opacity: 0.4;
    animation: move-1 5s infinite;
}

@keyframes move-1 {
    50% {
        transform: translateY(15px);
    }
    
}

.pokemon-info .wave-img:nth-child(2) {
    opacity: 0.3;
    margin-top: 0;
    animation: move-2 4s infinite;
}

@keyframes move-2 {
    50% {
        transform: translateY(35px);
    }
    
}
.pokemon-info .wave-img:nth-child(3) {
    opacity: 0.2;
    margin-top: 0;
    animation: move-3 3.5s infinite;
}

@keyframes move-3 {
    50% {
        transform: translateY(25px);
    }
    
}
.pokemon-info .wave-img:nth-child(4) {
    opacity: 0.3;
    margin-top: 0;
    animation: move-4 3s infinite;
}

@keyframes move-4 {
    50% {
        transform: translateY(20px);
    }
    
}

.pokemon-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-secondary);
    width: 60vw;
    height: 40vh;
    border-bottom-left-radius: 64px;
    border-bottom-right-radius: 64px;
}
.pokemon-weight-height {
    width: 90%;
    display: flex;
    justify-content: space-around;
}
.pokemon-weight, .pokemon-height {
    display: flex;
    flex-direction: column;
    text-align: center;
}
@media (min-width: 568px) and (max-width: 768px) {
    .pokemon-info-type {
        width: 80vw;
        height: 30vh;
    }
    .pokemon-info {
        width: 80vw;
        height: 45vh;
    }
    #shape {
        width: 80vw;
        top: 35%;
    }
    .wave-img:not(#shape) {
        width: 80vw;
        top: 33%;
    }
}
@media (max-width: 568px) {
    #shape {
        width: 60vw;
        top: 46%;
    }
    .wave-img:not(#shape) {
        width: 60vw;
        top: 46%;
    }
}


.normal-pokemon-type, .normal-type:hover {
    background-color: var(--normal-color-type);    
}
.fighting-pokemon-type, .fighting-type:hover {
    background-color: var(--fighting-color-type);    
}
.flying-pokemon-type, .flying-type:hover {
    background-color: var(--flying-color-type);    
}
.poison-pokemon-type, .poison-type:hover {
    background-color: var(--poison-color-type);    
}
.ground-pokemon-type, .ground-type:hover {
    background-color: var(--ground-color-type);    
}
.rock-pokemon-type, .rock-type:hover {
    background-color: var(--rock-color-type);    
}
.bug-pokemon-type, .bug-type:hover {
    background-color: var(--bug-color-type);    
}
.ghost-pokemon-type, .ghost-type:hover {
    background-color: var(--ghost-color-type);    
}
.steel-pokemon-type, .steel-type:hover {
    background-color: var(--steel-color-type);    
}
.fire-pokemon-type, .fire-type:hover {
    background-color: var(--fire-color-type);    
}
.water-pokemon-type, .water-type:hover {
    background-color: var(--water-color-type);    
}
.grass-pokemon-type, .grass-type:hover {
    background-color: var(--grass-color-type);    
}
.electric-pokemon-type, .electric-type:hover {
    background-color: var(--electric-color-type);    
}
.psychic-pokemon-type, .psychic-type:hover {
    background-color: var(--psychic-color-type);    
}
.ice-pokemon-type, .ice-type:hover {
    background-color: var(--ice-color-type);    
}
.dragon-pokemon-type, .dragon-type:hover {
    background-color: var(--dragon-color-type);    
}
.dark-pokemon-type, .dark-type:hover {
    background-color: var(--dark-color-type);    
}
.fairy-pokemon-type, .fairy-type:hover {
    background-color: var(--fairy-color-type);    
}
.unknown-pokemon-type, .unknown-type:hover {
    background-color: var(--unknown-color-type);    
}
.shadow-pokemon-type, .shadow-type:hover {
    background-color: var(--shadow-color-type);    
}

